# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/projectSettingsUpdater.xml
/.idea.SportsSln.iml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Local Disk (D)\Projects\C#\ASP\Adam Freeman\SportsSln\.idea\.idea.SportsSln\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
